body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Bahnschrift SemiBold";
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#preloader
{
   background: #FFFFFF url("images/Animation - 1730538509519.gif") no-repeat center center;
   bottom: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 99999;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid rgba(204,204,204,0.00);
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid7
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px 0 20px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2, #LayoutGrid7 > .col-3, #LayoutGrid7 > .col-4, #LayoutGrid7 > .col-5
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2, #LayoutGrid7 > .col-3, #LayoutGrid7 > .col-4, #LayoutGrid7 > .col-5
{
   flex: 0 0 auto;
}
#LayoutGrid7 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid7 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2, #LayoutGrid7 > .col-3, #LayoutGrid7 > .col-4, #LayoutGrid7 > .col-5
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#Button14
{
   box-sizing: border-box;
   line-height: 26px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid rgba(255,140,0,0.00);
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Bahnschrift;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 2px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   animation: animate-fade-in-up 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 100ms 1 normal both;
}
#Button14:focus
{
   outline: 0;
}
#Button14:hover
{
   border-bottom-color: #DCDCDC;
   transition: border-bottom-color 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}
#Button14
{
   border-bottom-color: rgba(255,255,255,0.00);
   transition: border-bottom-color 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}
#Button15
{
   box-sizing: border-box;
   line-height: 26px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid rgba(255,140,0,0.00);
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Bahnschrift;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 2px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   animation: animate-fade-in-up 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms 1 normal both;
}
#Button15:focus
{
   outline: 0;
}
#Button15:hover
{
   border-bottom-color: #DCDCDC;
   transition: border-bottom-color 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}
#Button15
{
   border-bottom-color: rgba(255,255,255,0.00);
   transition: border-bottom-color 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}
#Button16
{
   box-sizing: border-box;
   line-height: 26px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid rgba(255,140,0,0.00);
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F5F5F5;
   font-family: Bahnschrift;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   animation: animate-fade-in-up 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 300ms 1 normal both;
}
#Button16:focus
{
   outline: 0;
}
#Button16:hover
{
   border-bottom-color: #DCDCDC;
   transition: border-bottom-color 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}
#Button16
{
   border-bottom-color: rgba(255,255,255,0.00);
   transition: border-bottom-color 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}
#Button1
{
   box-sizing: border-box;
   line-height: 26px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid rgba(255,140,0,0.00);
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Bahnschrift;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   animation: animate-fade-in-up 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 300ms 1 normal both;
}
#Button1:focus
{
   outline: 0;
}
#Button1:hover
{
   border-bottom-color: #DCDCDC;
   transition: border-bottom-color 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}
#Button1
{
   border-bottom-color: rgba(255,255,255,0.00);
   transition: border-bottom-color 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid6
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 100px 0 0 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 > .col-1, #LayoutGrid6 > .col-2, #LayoutGrid6 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 2px;
   padding-left: 2px;
   position: relative;
}
#LayoutGrid6 > .col-1, #LayoutGrid6 > .col-2, #LayoutGrid6 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid6 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid6 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid6 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .col-1, #LayoutGrid6 > .col-2, #LayoutGrid6 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   display: none;
   padding: 0;
   margin: 0 0 10px 0 ;
   text-align: center;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms 1 normal both;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text4
{
   display: none;
   margin: 0 0 10px 0 ;
   width: 163px;
   height: 26px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 10px 0 ;
   text-align: center;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms 1 normal both;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: inline-block;
   margin: 0 0 10px 0 ;
   width: 163px;
   height: 26px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   display: none;
   padding: 0;
   margin: 0 0 10px 0 ;
   text-align: center;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms 1 normal both;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: none;
   margin: 0 0 10px 0 ;
   width: 163px;
   height: 26px;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
   animation: animate-fade-in-up 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms 1 alternate both;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Button6
{
   box-sizing: border-box;
   line-height: 25px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid rgba(255,140,0,0.00);
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF4500;
   font-family: Bahnschrift;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   animation: animate-fade-in-up 900ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms 1 normal both;
}
#Button6:focus
{
   outline: 0;
}
#Button6:hover
{
   border-bottom-color: #DCDCDC;
   transition: border-bottom-color 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}
#Button6
{
   border-bottom-color: rgba(255,255,255,0.00);
   transition: border-bottom-color 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px 0 0 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 2px;
   padding-left: 2px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#Button6
{
   display: inline-block;
   width: 85px;
   height: 29px;
   z-index: 3;
}
#Button14
{
   display: inline-block;
   width: 88px;
   height: 31px;
   z-index: 5;
}
#Button15
{
   display: inline-block;
   width: 73px;
   height: 31px;
   z-index: 4;
}
#Button1
{
   display: inline-block;
   width: 68px;
   height: 30px;
   z-index: 6;
}
@media only screen and (min-width: 579px) and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid7
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   height: auto;
   padding: 20px 0 20px 0;
}
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2, #LayoutGrid7 > .col-3, #LayoutGrid7 > .col-4, #LayoutGrid7 > .col-5
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid7 > .col-1
{
   display: flex;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid7 > .col-2
{
   display: flex;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-3
{
   display: flex;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-4
{
   display: flex;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-5
{
   display: flex;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#Button14
{
   width: 66px;
   height: 31px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 2px 6px 1px 6px;
}
#Button14
{
   line-height: 26px;
}
#Button15
{
   width: 66px;
   height: 31px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 2px 6px 1px 6px;
}
#Button15
{
   line-height: 26px;
}
#Button16
{
   width: 110px;
   height: 30px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button16
{
   line-height: 26px;
}
#Button1
{
   width: 66px;
   height: 30px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button1
{
   line-height: 26px;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid6
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   height: auto;
   padding: 100px 0 0 0;
}
#LayoutGrid6 > .col-1, #LayoutGrid6 > .col-2, #LayoutGrid6 > .col-3
{
   padding-right: 2px;
   padding-left: 2px;
}
#LayoutGrid6 > .col-1
{
   display: flex;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid6 > .col-2
{
   display: flex;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid6 > .col-3
{
   display: flex;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: flex-start;
   text-align: left;
}
#wb_Text4
{
   width: 163px;
   height: 26px;
   visibility: visible;
   display: inline-block;
}
#wb_Text4
{
   margin: 0 0 10px 0 ;
   padding: 0;
}
#wb_Text1
{
   width: 163px;
   height: 26px;
   visibility: hidden;
   display: none;
}
#wb_Text1
{
   margin: 0 0 10px 0 ;
   padding: 0;
}
#wb_Text2
{
   width: 163px;
   height: 26px;
   visibility: hidden;
   display: none;
}
#wb_Text2
{
   margin: 0 0 10px 0 ;
   padding: 0;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#Button6
{
   width: 66px;
   height: 29px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button6
{
   line-height: 25px;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 20px 0 0 0;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   padding-right: 2px;
   padding-left: 2px;
}
#LayoutGrid1 > .col-1
{
   display: flex;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid1 > .col-2
{
   display: flex;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3
{
   display: flex;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: flex-start;
   text-align: left;
}
}
@media only screen and (min-width: 480px) and (max-width: 578px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid7
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   height: auto;
   padding: 20px 0 20px 0;
}
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2, #LayoutGrid7 > .col-3, #LayoutGrid7 > .col-4, #LayoutGrid7 > .col-5
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid7 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-3
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-4
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-5
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#Button14
{
   width: 66px;
   height: 31px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 2px 6px 1px 6px;
}
#Button14
{
   line-height: 26px;
}
#Button15
{
   width: 66px;
   height: 31px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 2px 6px 1px 6px;
}
#Button15
{
   line-height: 26px;
}
#Button16
{
   width: 110px;
   height: 30px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button16
{
   line-height: 26px;
}
#Button1
{
   width: 66px;
   height: 30px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button1
{
   line-height: 26px;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid6
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   height: auto;
   padding: 100px 0 0 0;
}
#LayoutGrid6 > .col-1, #LayoutGrid6 > .col-2, #LayoutGrid6 > .col-3
{
   padding-right: 10px;
   padding-left: 10px;
}
#LayoutGrid6 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid6 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid6 > .col-3
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#wb_Text4
{
   width: 163px;
   height: 26px;
   visibility: hidden;
   display: none;
}
#wb_Text4
{
   margin: 0 0 10px 0 ;
   padding: 0;
}
#wb_Text1
{
   width: 163px;
   height: 26px;
   visibility: visible;
   display: inline-block;
}
#wb_Text1
{
   margin: 0 0 10px 0 ;
   padding: 0;
}
#wb_Text2
{
   width: 163px;
   height: 26px;
   visibility: hidden;
   display: none;
}
#wb_Text2
{
   margin: 0 0 10px 0 ;
   padding: 0;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#Button6
{
   width: 86px;
   height: 29px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button6
{
   line-height: 25px;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 20px 0 0 0;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   padding-right: 10px;
   padding-left: 10px;
}
#LayoutGrid1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
}
@media only screen and (max-width: 479px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid7
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   height: auto;
   padding: 20px 0 20px 0;
}
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2, #LayoutGrid7 > .col-3, #LayoutGrid7 > .col-4, #LayoutGrid7 > .col-5
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid7 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-3
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-4
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-5
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#Button14
{
   width: 66px;
   height: 31px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 2px 6px 1px 6px;
}
#Button14
{
   line-height: 26px;
}
#Button15
{
   width: 66px;
   height: 31px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 2px 6px 1px 6px;
}
#Button15
{
   line-height: 26px;
}
#Button16
{
   width: 110px;
   height: 30px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button16
{
   line-height: 26px;
}
#Button1
{
   width: 66px;
   height: 30px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button1
{
   line-height: 26px;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid6
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   height: auto;
   padding: 100px 0 0 0;
}
#LayoutGrid6 > .col-1, #LayoutGrid6 > .col-2, #LayoutGrid6 > .col-3
{
   padding-right: 2px;
   padding-left: 2px;
}
#LayoutGrid6 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid6 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid6 > .col-3
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: flex-start;
   text-align: left;
}
#wb_Text4
{
   width: 163px;
   height: 26px;
   visibility: hidden;
   display: none;
}
#wb_Text4
{
   margin: 0 0 10px 0 ;
   padding: 0;
}
#wb_Text1
{
   width: 163px;
   height: 26px;
   visibility: hidden;
   display: none;
}
#wb_Text1
{
   margin: 0 0 10px 0 ;
   padding: 0;
}
#wb_Text2
{
   width: 163px;
   height: 26px;
   visibility: visible;
   display: inline-block;
}
#wb_Text2
{
   margin: 0 0 10px 0 ;
   padding: 0;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#Button6
{
   width: 65px;
   height: 29px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button6
{
   line-height: 25px;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 20px 0 0 0;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   padding-right: 2px;
   padding-left: 2px;
}
#LayoutGrid1 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-3
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-end;
   align-items: flex-end;
   justify-content: flex-start;
   text-align: left;
}
}

    /* Отключить выделение только для wb_Text3 */
    #wb_Text3 {
        user-select: none;
    }

       #wb_Text6 {
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* Internet Explorer */
        user-select: none;         /* Standard */
    }

    /* Отключить выделение только для wb_Text3 */
    #wb_Text3 {
        user-select: none;
    }

       #wb_Text6 {
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* Internet Explorer */
        user-select: none;         /* Standard */
    }

    /* Отключить выделение только для wb_Text3 */
    #wb_Text3 {
        user-select: none;
    }

       #wb_Text6 {
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* Internet Explorer */
        user-select: none;         /* Standard */
    }
